<% content_for :js do %>
  <%= javascript_import_module_tag "controllers/select2" %>
<% end %>

<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '管理画面', admin_path, class: 'common_a' %> >
  キャップ調整金
</p>
<div class="admin_seminar_content">
  <div class="common_field_title">
    <h1>キャップ調整金一覧</h1>
    <div class="underline"></div>
  </div>
  <% if flash[:success].present? %>
    <p class="success_dsn"><i class="fa fa-check "></i><%= flash[:success] %><p>
  <% end %>

  <%= form_with url: admin_cap_adjust_ments_path, local: true, method: :get, class: "cap_adjust_ments_search" do |form| %>
    <%= form.select :id, options_for_select(@user_all.map { |user| [user.name, user.id] }, selected: @selected_user_id), {}, { id: 'select2' } %> 
    <%= form.submit "検索", class: "search_btn common_box_beige mt-1" %>
  <% end %>
  
  <div class="common_admin_list">
    <div class="common_list_head">
      <p class="w6"></p>
      <p class="w41 common_size16">氏名</p>
      <p class="common_size16">キャップ調整金</p>
    </div>

    <% if @users.present? %>
      <div class="common_list_body mt-2">
        <% @users.each_with_index do |user, index| %>
          <div class="common_list_body_part">
            <p class="w6 common_size16"><%= index + 1 %>.</p>
            <p class="w41 common_size16"><%= user&.name %></p>
            <p class="common_size16"><%= user&.price %>円</p>
            <%= link_to '編集', edit_admin_cap_adjust_ment_path(user), class: 'edit_btn common_box_beige' %>
          </div>
        <% end %>
      </div>
    <% elsif @user.present? %>
      <div class="common_list_body mt-2">
        <div class="common_list_body_part">
          <p class="w6 common_size16"><%= 1 %>.</p>
          <p class="w41 common_size16"><%= @user&.name %></p>
          <p class="common_size16"><%= @user&.price %>円</p>
          <%= link_to '編集', edit_admin_cap_adjust_ment_path(@user), class: 'edit_btn common_box_beige' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to '戻る', admin_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>

