<% content_for :js do %>
  <%= javascript_import_module_tag "controllers/task_submit" %>
<% end %>

<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '課題提出 種別一覧', tasks_path, class: 'common_a' %> >
  課題提出
</p>

<div class="common_field_title">
  <h1><%= @title_label_name %> 課題提出</h1>
  <div class="underline"></div>
</div>

<% if current_user&.admin_flg != 1%>
  <div class="task_confirm">
    <%= link_to '提出済の課題を確認', submitted_tasks_path(id: @learn_category_id, type: params[:type]), class: 'common_box_beige' %>
  </div>
<% end %>

<% if current_user&.admin_flg == 1%>
  <div class="admin_seminar_content">
    <div class="common_admin_list">
      <div class="common_list_head">
        <p class="w6"></p>
        <p class="w41 common_size16"><%= @title_label_name %>のタイトル名</p>
      </div>
      <% if @learns.present? %>
        <div class="common_list_body mt-2">
          <% @learns.each_with_index do |learn, index| %>
            <div class="common_list_body_part">
              <p class="w6 common_size16"><%= index + 1 %>.</p>
              <p class="w41 common_size16"><%= learn&.name %></p>
              <%= link_to '課題提出確認', confirm_tasks_path(learn_id: learn&.id, type: params[:type]), class: 'confirm_btn common_box_beige' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="not_element">存在している<%= @title_label_name %>はありません。</p>
      <% end %>
    </div>
  </div>
<% else %>
  <% content_for :js do %>
    <%= javascript_import_module_tag "controllers/select2" %>
    <%= javascript_import_module_tag "controllers/file_three_validate" %>
  <% end %>

  <% if flash[:success].present? %>
    <p class="success_dsn"><i class="fa fa-check "></i><%= flash[:success] %><p>
  <% end %>
  
  <% if flash[:error].present? %>
    <div class="error_main">
      <li><%= flash[:error] %></li>
    </div>
  <% end %>

  <%= form_with model: @task, url: tasks_path, local: true, id: "task_form", class: "task_entry_form" do |form| %>
    <%= render 'shared/admin_error', object: @task %>
    <div class="admin_event_form_part">
      <%= form.label :learn_id, "#{@title_label_name}<span>必須</span>".html_safe, class: "common_size16" %>
      <%= form.select :learn_id, options_for_select(@learns.map { |learn| [learn.name, learn.id] }), { include_blank: '新規MTを選んでください。', required: true }, { id: 'select2' } %>
    </div>

    <div class="task_form_part">
      <%= form.label :files, "ファイルを選択（最大3つ）", class: "common_size16" %>
      <%= form.file_field :files, multiple: true, accept: 'image/jpeg,image/gif,image/png,application/pdf', id: 'file_field' %>
    </div>

    <div class="task_form_part">
      <%= form.label :comment, "達成した感想と、得れた学びを教えてください。<span>必須</span>".html_safe, class: "common_size16" %>
      <%= form.text_area :comment, rows: 15, required: true %>
    </div>
    <%= form.hidden_field :type, value: params[:type] %>
    <%= form.hidden_field :learn_category_id, value: @learn_category_id %>

    <%= form.submit "課題を提出", class: "add_btn common_box_beige" %>
  <% end %>
<% end %>
<%= link_to '戻る', tasks_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
