<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %>
  >
  ボーナス情報
</p>
<div class="top_background"></div>
<h2 class="top_title">ボーナス情報</h2>
<div class="bonus_container common_btn_shape">
  <%= form_with url: rewards_path, local: true, method: :get, class: "search" do |form| %>
    <%= form.select :search_year, options_for_select((2023..2040).to_a.map { |y| ["#{y}年", y] }, selected: @search_year) %>
    <%= form.select :search_month, options_for_select((1..12).to_a.map { |m| ["#{m}月", m] }, selected: @search_month) %>
    <%= form.submit "検索", class: "search_btn common_box_beige" %>
  <% end %>

  <div class="bonus_list">
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">対象日</p>
        <div class="triangle">
          <%= image_tag 'triangle.svg', alt: '' %>
        </div>
      </div>
      <div class="bonus_data">
        <p class="common_size18"><%= @search_year %>年<%= @search_month %>月度</p>
      </div>
    </div>
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">直紹介ボーナス</p>
        <div class="triangle">
          <%= image_tag 'triangle.svg', alt: '' %>
        </div>
      </div>
      <div class="bonus_data">
        <p class="common_size18">¥ <%= @reward_bonus_total %></p>
      </div>
    </div>
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">２ティアボーナス</p>
        <div class="triangle">
          <%= image_tag 'triangle.svg', alt: '' %>
        </div>
      </div>
      <div class="bonus_data">
        <p class="common_size18">¥ <%= @two_tier_bonus_total %></p>
      </div>
    </div>
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">タイトルボーナス</p>
        <div class="triangle">
          <%= image_tag 'triangle.svg', alt: '' %>
        </div>
      </div>
      <div class="bonus_data">
        <p class="common_size18">¥ <%= @title_bonus_total %></p>
      </div>
    </div>
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">aさんボーナス</p>
        <div class="triangle">
          <%= image_tag 'triangle.svg', alt: '' %>
        </div>
      </div>
      <div class="bonus_data">
        <p class="common_size18">¥ <%= @a_san_bonus_total %></p>
      </div>
    </div>
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">源泉徴収</p>
        <div class="triangle">
          <%= image_tag 'triangle.svg', alt: '' %>
        </div>
      </div>
      <div class="bonus_data">
        <p class="common_size18">¥ -<%= @certificate_of_tax_deducted_price %></p>
      </div>
    </div>
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">事務手数料</p>
        <div class="triangle">
          <%= image_tag 'triangle.svg', alt: '' %>
        </div>
      </div>
      <div class="bonus_data">
        <p class="common_size18">¥ -500</p>
      </div>
    </div>
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">キャップ調整金</p>
        <div class="triangle">
          <%= image_tag 'triangle.svg', alt: '' %>
        </div>
      </div>
      <div class="bonus_data">
        <p class="common_size18">¥ 0</p>
      </div>
    </div>
    <div class="bonus_part">
      <div class="bonus_title">
        <p class="common_size18">総支払額</p>
      </div>
      <div class="bonus_data">
        <p class="common_size18">¥ <%= @total_payment_price %></p>
      </div>
    </div>
  </div>
</div>
<%= link_to '戻る', root_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
