<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  会員情報
</p>
<div class="top_background"></div>
<h2 class="top_title">会員情報</h2>

<div class="registration_container common_btn_shape">
  <% if flash[:success].present? %>
    <p class="success_dsn mt-0 mb-2"><i class="fa fa-check "></i><%= flash[:success] %><p>
  <% end %>

  <div class="common_list_title_background">
    <div class="basic_information_title common_list_title common_size20">
      <p>基本情報</p>
      <%= link_to '編集', edit_user_path(@user, type: "base"), class: 'edit_btn common_box_beige user_info_edit' %>
    </div>
    <div class="basic_information">
      <div class="common_list_part common_size16">
        <p>ID</p>
        <p><%= @user&.id %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>ログインID</p>
        <p><%= @user&.login_id %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>メールアドレス</p>
        <p><%= @user&.email %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>氏名</p>
        <p><%= @user&.name %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>氏名カナ</p>
        <p><%= @user&.name_kana %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>電話番号</p>
        <p><%= @user&.phone %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>誕生日</p>
        <p><%= @user&.birthday.strftime('%Y年%m月%d日') %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>年齢</p>
        <p><%= calculate_age @user&.birthday %>歳</p>
      </div>
      <div class="common_list_part common_size16">
        <p>性別</p>
        <p><%= @user&.gender_id == 1 ? "男" : "女" %></p>
      </div>
    </div>
  </div>

  <div class="common_list_title_background">
    <div class="bisiness_information_title common_list_title common_size20">
      <p>ビジネス情報</p>
    </div>
    <div class="business_information">
      <div class="common_list_part common_size16">
        <p>グレード</p>
        <p>
          <% case @user&.grade_id.to_i %>
          <% when 99 %>
            ノーマル
          <% when 1 %>
            エグゼクティブ
          <% when 2 %>
            ルビーエグゼクティブ
          <% when 3 %>
            エメラルドエグゼクティブ
          <% else %>
            未定義のグレード
          <% end %>
        </p>
      </div>
      <div class="common_list_part common_size16">
        <p>ステータス</p>
        <p><%= @user&.status == 1 ? "活動中" : "退会済み" %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>登録タイプ</p>
        <p><%= @user&.incentive&.course_name %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>紹介者</p>
        <p><%= @user&.introducer&.name %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>組織図 位置</p>
        <p><%= @user&.left_or_right.upcase %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>契約日時</p>
        <p><%= @user&.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
      </div>
    </div>
  </div>

  <div class="common_list_title_background">
    <div class="address_information_title common_list_title common_size20">
      <p>会員住所情報</p>
      <%= link_to '編集', edit_user_path(@user_address.user_id, type: "address"), class: 'edit_btn common_box_beige user_info_edit' %>
    </div>
    <div class="address_information">
      <div class="common_list_part common_size16">
        <p>郵便番号</p>
        <p><%= "#{@user_address&.zip_str3}-#{@user_address&.zip_str4}" %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>都道府県</p>
        <p><%= @user_address&.ken %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>市区町村番地</p>
        <p><%= @user_address&.city %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>建物名・部屋番号</p>
        <p><%= @user_address&.other_address %></p>
      </div>
    </div>
  </div>

  <div class="common_list_title_background">
    <div class="bank_information_title common_list_title common_size20">
      <p>振込口座情報</p>
      <%= link_to '編集', edit_user_path(@user_bank.user_id, type: "bank"), class: 'edit_btn common_box_beige user_info_edit' %>
    </div>
    <div class="address_information">
      <div class="common_list_part common_size16">
        <p>預金種別</p>
        <p>
        <% case @user_bank.account_type.to_i %>
        <% when 1 %>
          普通預金
        <% when 2 %>
          当座預金
        <% when 3 %>
          定期預金
        <% else %>
          未定義
        <% end %>
      </p>
      </div>
      <div class="common_list_part common_size16">
        <p>金融機関名</p>
        <p><%= @user_bank&.bank_name %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>支店名</p>
        <p><%= @user_bank&.branch_name %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>支店番号</p>
        <p><%= @user_bank&.branch_number %></p>
      </div>
      <div class="common_list_part common_size16">
        <p>口座番号</p>
        <% if current_user.admin_flg == 1%>
          <p><%= @user_bank&.account_number_hash %></p>
        <% else %>
          <p><%= @user_bank&.account_number_tail %></p>
        <% end %>
      </div>
      <div class="common_list_part common_size16">
        <p>口座名義</p>
        <p><%= @user_bank&.account_holder %></p>
      </div>
    </div>
  </div>
</div>
<%= link_to '戻る', root_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
