<div class="step_container">
  <div class="rectangle_triangle_container">
    <div class="rectangle">
      <div class="rectangle-content common_size20">STEP1 入力</div>
    </div>
    <div class="triangle"></div>
  </div>

  <div class="rectangle_triangle_container">
    <div class="step_white rectangle">
      <div class="rectangle-content common_size20 beige">STEP2 入力確認</div>
    </div>
    <div class="triangle_white triangle"></div>
  </div>

  <div class="rectangle_triangle_container">
    <div class="step_white rectangle">
      <div class="rectangle-content common_size20 beige">STEP3 完了</div>
    </div>
  </div>

</div>
<div class="input_order">
  <div class="basic_info">
    <p class="common_btn_brawn_background">1</p>
    <p class="common_size13">基本情報<br>入力</p>
  </div>
  <div class="address_info">
    <p class="common_btn_brawn_background">2</p>
    <p class="common_size13">住所情報<br>入力</p>
  </div>
  <div class="bank_info">
    <p class="common_btn_beige_background">3</p>
    <p class="common_size13">銀行口座<br>入力</p>
  </div>
  <div class="contract">
    <p class="common_btn_gray_background">4</p>
    <p class="common_size13">契約情報<br>入力</p>
  </div>
  <div class="input_order_line"></div>
</div>
<p class="form_edit_title common_size20">会員登録 銀行口座</p>

<%= form_with model: @set_tmp_member_info, url: confirm_tmp_member_infos_path(current_step: @current_step), local: true do |f| %>
  <!-- エラーメッセージの表示 -->
  <%= render 'shared/error' %>
  <div class="common_list_title_background common_btn_shape">
    <div class="form_edit_part">
      <div class="form_part_title common_list_title">
        <p class="common_size16">金融機関名</p>
        <span>必須</span>
      </div>
      <div class="form_part_input">
        <%= f.text_field :bank_name, class: "input_text_form", value: get_default_value("bank_name", "text" , @set_tmp_member_info), required: true  %>
      </div>
    </div>

    <div class="form_edit_part">
      <div class="form_part_title common_list_title">
        <p class="common_size16">支店名</p>
        <span>必須</span>
      </div>
      <div class="form_part_input">
        <%= f.text_field :branch_name, class: "input_text_form", value: get_default_value("branch_name", "text" , @set_tmp_member_info), required: true  %>
      </div>
    </div>

    <div class="form_edit_part">
      <div class="form_part_title common_list_title">
        <p class="common_size16">支店番号</p>
        <span>必須</span>
      </div>
      <div class="form_part_input">
        <%= f.text_field :branch_number, class: "input_text_form", value: get_default_value("branch_number", "text" , @set_tmp_member_info), required: true %>
      </div>
    </div>

    <div class="form_edit_part">
      <div class="form_part_title common_list_title">
        <p class="common_size16">預金種別</p>
        <span>必須</span>
      </div>
      <div class="deposit_type form_part_input">
        <%= f.select :account_type, [['普通預金', 1], ['当座預金', 2], ['定期預金', 3]], { selected: get_default_value("account_type", "select", @set_tmp_member_info) }, class: "select_class_name" %>         
      </div>
    </div>

    <div class="form_edit_part">
      <div class="form_part_title common_list_title">
        <p class="common_size16">口座番号</p>
        <span>必須</span>
      </div>
      <div class="form_part_input">
        <%= f.text_field :account_number_hash, class: "input_text_form", value: get_default_value("account_number_hash", "text" , @set_tmp_member_info), required: true %>
      </div>
    </div>

    <div class="form_edit_part">
      <div class="form_part_title common_list_title">
        <p class="common_size16">口座名義</p>
        <span>必須</span>
      </div>
      <div class="form_part_input">
        <%= f.text_field :account_holder, class: "input_text_form", value: get_default_value("account_holder", "text" , @set_tmp_member_info), required: true %>
      </div>
    </div>        
  </div>

  <% if params["back_flg"].present? %>
    <%= f.hidden_field :back_flg, value: 1 %>
  <% end %>
  <% if @tmp_member_info_id.present? %>
    <%= f.hidden_field :id, value: @tmp_member_info_id %>
  <% end %>

  <div class="submit_btn common_merge">
    <%= link_to '戻る', new_tmp_member_info_path(current_step: @current_step - 1, tmp_member_info_id: @tmp_member_info_id), class: 'common_btn_beige common_btn_content common_box_beige' %>
    <%= f.submit "次へ", class: "common_btn_beige common_btn_content common_box_beige" %>
  </div>
<% end %>
