<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '連携先一覧', connect_services_path, class: 'common_a' %> >
  転職エージェント
</p>
<div class="service_top">
  <h1 class="service_detail_title">転職エージェント</h1>
  <p class="service_catch_copy">プロフェッショナルなサポートで最適な転職先をご用意</p>
  <div class="underline"></div>
</div>
<div class="service_detail_bottom">
  <p>
    新しいキャリアへの一歩を踏み出す準備はできていますか？<br>
    現代の働き方では、転職はもはや一つのステップ。<span class="beige">あなたのキャリアをもっと充実させるため</span>の選択です。<br>
    私たちが提携する転職エージェントと共に、あなたにぴったりの次のステージを見つけましょう。<br><br>
    
    個々の人生には様々な可能性があります。<br>
    私たちは、あなたが自分の道を自信を持って歩めるよう、<span class="beige">最適な転職先をご用意</span>します。プロフェッショナルなサポートで、あなたのキャリアに新たな風を吹き込みましょう。<br><br>

    「転職を考えている」「新しい挑戦がしたい」と思っている方、私たちはあなたの<span class="beige">次の一歩を全力でサポートします。</span><br>
    転職の相談やキャリアアップのためのご質問、お気軽にご連絡ください。<br>
    あなたのキャリアが、もっと輝く未来へ導かれるように。
  </p>
</div>
<p class="guide_text">体験したい人・何か質問がある人は以下からご連絡</p>
<div class="guide_arrow">
  <%= image_tag 'guide_arrow.svg', alt: '案内の矢印' %>
</div>
<div class="contact_btn">
  <%= link_to 'お問い合わせ', new_connect_service_path(type: "job_change_agent"), class: 'common_btn_beige common_btn_content common_box_beige' %>
</div>
<%= link_to '戻る', connect_services_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
