<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '連携先一覧', connect_services_path, class: 'common_a' %> >
  引越し
</p>
<div class="service_top">
  <h1 class="service_detail_title">引越し</h1>
  <p class="service_catch_copy">SNT特別価格　大手と比べて20%OFF</p>
  <div class="underline"></div>
</div>
<div class="service_detail_bottom">
  <p>
    新しい生活への第一歩を踽み出す準備はできましたか？<br>
    物件選びから初期費用の支払いまで、大変な作業が終わったと思ったら、今度は引越しの荷物移動です。<br>
    高い引越し費用に心が重くなっていませんか？<br><br>

    STNが提携している引越し会社では、<span class="beige">大手業者と比べて20％も安価にサービスを提供</span>しています。安心感と手頃な価格、どちらも手に入れるチャンスです！<br><br>

    引越しは新しい生活への扉。私たちは<span class="beige">その重要な一歩を、スムーズかつ経済的にサポートします。</span><br>
    引越しを考えているあなた、不安や悩みを抱えているなら、ぜひお問い合わせください。<br><br>
    お手頃な価格で、安心と快適な移動を実現しましょう。あなたの新しいスタートを、心よりお待ちしています
  </p>
</div>
<p class="guide_text">体験したい人・何か質問がある人は以下からご連絡</p>
<div class="guide_arrow">
  <%= image_tag 'guide_arrow.svg', alt: '案内の矢印' %>
</div>
<div class="contact_btn">
  <%= link_to 'お問い合わせ', '#', class: 'common_btn_beige common_btn_content common_box_beige' %>
</div>
<%= link_to '戻る', connect_services_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
