<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '連携先一覧', connect_services_path, class: 'common_a' %> >
  動画編集依頼
</p>
<div class="service_top">
  <h1 class="service_detail_title">動画編集依頼</h1>
  <p class="service_catch_copy">SNT特別価格　100000円→30000円~50000円に特別値下げ</p>
  <div class="underline"></div>
</div>
<div class="service_detail_bottom">
  <p>
    あなたの特別な瞬間を永遠に残しませんか？<br>
    STNでは、あなたの貴重な写真や思い出をプロの手で魅力的な動画に変えるサービスを提供しています。<br><br>
    
    通常10万円のこのサービスが、なんと<span class="beige">3〜5万円で利用可能！</span><br>
    記念日のプレゼントや特別なイベントの記録に、プロフェッショナルな編集技術で感動を形にしましょう。<br><br>

    当社は優れた動画編集会社と提携しており、あなたの思い出を映画のような素敵な作品に変えます。この機会に、手軽に<span class="beige">高品質な動画</span>を手に入れて、大切な人々と共有しませんか？<br>
    興味のある方は、ぜひお気軽にご連絡ください。私たちはあなたの大切な記憶を、<span class="beige">美しい映像で残すお手伝いをします。</span>
  </p>
</div>
<p class="guide_text">体験したい人・何か質問がある人は以下からご連絡</p>
<div class="guide_arrow">
  <%= image_tag 'guide_arrow.svg', alt: '案内の矢印' %>
</div>
<div class="contact_btn">
  <%= link_to 'お問い合わせ', new_connect_service_path(type: "movie_edit"), class: 'common_btn_beige common_btn_content common_box_beige' %>
</div>
<%= link_to '戻る', connect_services_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
