<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '提携先一覧', connect_services_path, class: 'common_a' %> >
  パーソナルカラー
</p>
<div class="service_top">
  <h1 class="service_detail_title">パーソナルカラー</h1>
  <p class="service_catch_copy">SNT特別価格　通常5.5万円 → 3万円</p>
  <div class="underline"></div>
</div>
<div class="service_detail_bottom">
  <p>
    自分だけの色で、毎日をもっと輝かせませんか？<br>
    パーソナルカラー診断を通じて、<span class="beige">あなたにぴったりの色</span>を見つけ、ファッションやメイクを一新しましょう。<br>
    あなたがもっと自信を持って輝けるよう、あなたに似合うカラーを見つけるお手伝いをします。<br><br>

    通常5.5万円のこのサービスを、<span class="beige">特別に3人グループで参加すると、1人あたりたったの3万円</span>で提供します。<br>
    自分に似合う色を知ることで、若々しく、また魅力的に見えること間違いなし。一人一人に合ったカラーで、<span class="beige">あなたの魅力を最大限に引き出します。</span><br><br>

    「自分の色を知りたい」「ファッションやメイクに変化をつけたい」と考えている方は、ぜひこの機会にご連絡ください。<br>
    専門家があなたを美しく、そして個性的に見せる色を見つけ出します。<br>
    あなたの新しい自分発見の旅、私たちと一緒に始めましょう<br>
  </p>
</div>
<p class="guide_text">体験したい人・何か質問がある人は以下からご連絡</p>
<div class="guide_arrow">
  <%= image_tag 'guide_arrow.svg', alt: '案内の矢印' %>
</div>
<div class="contact_btn">
  <%= link_to 'お問い合わせ', new_connect_service_path(type: "personal_color"), class: 'common_btn_beige common_btn_content common_box_beige' %>
</div>
<%= link_to '戻る', connect_services_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
