<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '連携先一覧', connect_services_path, class: 'common_a' %> >
  写真撮影
</p>
<div class="service_top">
  <h1 class="service_detail_title">写真撮影</h1>
  <p class="service_catch_copy">SNT特別価格　15000円→9000円に特別値下げ</p>
  <div class="underline"></div>
</div>
<div class="service_detail_bottom">
  <p>
    第一印象を刷新しませんか？<br>
    STN会員限定で、プロフェッショナルな写真撮影が特別価格で受けられます！<br>
    通常、一人15,000円のこの撮影が、<span class="beige">今なら驚きの9,000円。</span><br>
    友達や家族と一緒に撮影すれば、さらにお得！2人でのセッションなら、<span class="beige">一人あたり4,500円です。</span><br>

    メラビアンの法則によれば、人は<span class="beige">第一印象で55％を視覚から受ける</span>と言われています。<br>
    私たちのプロフェッショナルな撮影で、あなたの魅力を最大限に引き出しましょう。私自身も初めての撮影で、まるでモデルのような自信と変身を経験しました。それは単なる写真以上の、自己確立への第一歩です。<br><br>

    この特別な機会に、新しい自分を発見し、第一印象を圧倒的にアップグレードしましょう。<br>
    興味のある方は、ぜひお気軽にご連絡ください。あなたの魅力を完璧に捉えます。
  </p>
</div>
<p class="guide_text">体験したい人・何か質問がある人は以下からご連絡</p>
<div class="guide_arrow">
  <%= image_tag 'guide_arrow.svg', alt: '案内の矢印' %>
</div>
<div class="contact_btn">
  <%= link_to 'お問い合わせ', new_connect_service_path(type: "photography"), class: 'common_btn_beige common_btn_content common_box_beige' %>
</div>
<%= link_to '戻る', connect_services_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
