<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '提携先一覧', connect_services_path, class: 'common_a' %> >
  ホワイトニング
</p>
<div class="service_top">
  <h1 class="service_detail_title">ホワイトニング</h1>
  <p class="service_catch_copy">SNT特別価格　10000円→7500円に特別値下げ</p>
  <div class="underline"></div>
</div>
<div class="service_detail_bottom">
  <p>
    元々の価格から<span class="beige">25％も値引き！</span><br>
    初めてのホワイトニング体験が、ずっと<span class="beige">特別価格の7500円で体験可能です。</span><br><br>

    初めての方でも安心、このチャンスにあなたも光り輝く笑顔を手に入れましょう。興味が無かったとしても、驚くべき効果に出会うことできっとその考えは変わるはず。
    一度のホワイトニングで僕は5トーンも明るくなりました。<br>
    月々10000円の価格がSNT会員は<span class="beige">ずっと7500円。</span><br>
    お財布にも優しいこの特別価格で、今すぐあなたの歯を磨き上げ、自信あふれる美しい笑顔を手に入れましょう。<br><br>

    まだ体験したことのない方へ、新たな一歩を踏み出す勇気をお貸ししましょう。
  </p>
</div>
<p class="guide_text">体験したい人・何か質問がある人は以下からご連絡</p>
<div class="guide_arrow">
  <%= image_tag 'guide_arrow.svg', alt: '案内の矢印' %>
</div>
<div class="contact_btn">
  <%= link_to 'お問い合わせ', new_connect_service_path(type: "whitening"), class: 'common_btn_beige common_btn_content common_box_beige' %>
</div>
<%= link_to '戻る', connect_services_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
