<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  講義予約
</p>

<div class="common_field_title">
  <h1>講義予約</h1>
  <div class="underline"></div>
</div>

<div class="reservation_switch_btn">
  <%= link_to '予約する', reservations_path, class: 'common_btn_content' %>
  <%= link_to '予約状況', reserved_list_reservations_path, class: 'common_btn_content common_btn_beige_background' %>
</div>

<%= form_with url: reservations_path, local: true, method: :get, class: "search" do |form| %>
  <%= form.select :search_year, options_for_select((2023..2040).to_a.map { |y| ["#{y}年", y] }, selected: @search_year), include_blank: '年を選択' %>
  <%= form.select :search_month, options_for_select((1..12).to_a.map { |m| ["#{m}月", m] }, selected: @search_month), include_blank: '月を選択' %>
  <%= form.submit "検索", class: "search_btn common_box_beige" %>
<% end %>

<% if flash[:success].present? %>
  <p class="success_dsn"><i class="fa fa-check "></i><%= flash[:success] %><p>
<% end %>

<div class="reservation_list">
  <% if @seminars.present? %>
    <% @seminars.each_with_index do |seminar, index| %>
      <div class="reservation_part">
        <div class="reservation_left">
          <p class="common_size13"><%= "#{seminar.year}年#{seminar.month}月" %></p>
          <p class="common_size20"><%= seminar.day %>日</p>
          <p class="common_size13">（<%= "#{weekday_conversion seminar.year, seminar.month, seminar.day}曜日" %>）</p>
        </div>
        <div class="reservation_right common_btn_shape">
          <div class="reservation_info_top">
            <div class="reservation_info_top_left">
              <p><%= seminar.title %></p>
              <p class="common_size13"><%= seminar.start_time %> ~ <%= seminar.end_time %></p>
            </div>
            <div class="reservation_info_top_right">
              <% if is_seminar_reserved? seminar.id, current_user&.id %>
                <!-- 予約済みの場合のリンク（非活性） -->
                <div class="reservation_btn common_btn_beige common_btn_beige_background not_reservation">
                  <div class="reservation_calender">
                    <%= image_tag 'calender.svg', alt: 'カレンダー' %>
                  </div>
                  <p>予約済み</p>
                </div>
              <% elsif is_seminar_expired? seminar.year, seminar.month, seminar.day %>
                <%= link_to reserve_confirm_reservation_path(seminar), class: 'reservation_btn common_btn_beige common_btn_beige_background' do %>
                  <div class="reservation_calender">
                    <%= image_tag 'calender.svg', alt: 'カレンダー' %>
                  </div>
                  <p>予約</p>
                <% end %>
              <% else %>
                <%= link_to reserve_confirm_reservation_path(seminar), class: 'reservation_btn common_btn_beige common_btn_beige_background not_reservation' do %>
                  <div class="reservation_calender">
                    <%= image_tag 'calender.svg', alt: 'カレンダー' %>
                  </div>
                  <p>期限切れ</p>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="reservation_info_bottom">
            <div class="reservation_info_bottom_left">
              <p>講師</p>
            </div>
            <div class="reservation_info_bottom_right">
              <p><%= seminar.teacher %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="not_element">予約できる講義がありません。</p>
  <% end %>
</div>
<%= link_to '戻る', root_path, class: 'common_btn_beige common_btn_beige_background common_btn_content common_merge' %>
