<p class="pankuzu">
  <%= link_to 'トップページ', root_path, class: 'common_a' %> >
  <%= link_to '講義予約', reservations_path, class: 'common_a' %> >
  <% if session[:search_seminars_year].present? && session[:search_seminars_month].present? && session[:search_join_status].present? %>
    <%= link_to '予約状況一覧', reserved_list_reservations_path(search_year: session[:search_seminars_year], search_month: session[:search_seminars_month], join_status: session[:search_join_status]), class: 'common_a' %> >
  <% else %>
    <%= link_to '予約状況一覧', reserved_list_reservations_path, class: 'common_a' %> >
  <% end %>
  講義キャンセル確認
</p>
<div class="common_field_title">
  <h1>講義キャンセル</h1>
  <div class="underline"></div>
</div>
<p class="confirm_text common_size16">こちらの講義キャンセルしますか？</p>
<div class="reservation_cancel_container common_list_title_background">
  <div class="common_list_title common_size20">
    <p>予約情報</p>
  </div>
  <div class="confirm_info">
    <div class="common_list_part common_size16">
      <p>講義</p>
      <p><%= @reservation.title %></p>
    </div>
    <div class="common_list_part common_size16">
      <p>予約時間</p>
      <p><%= "#{@reservation.year}/#{@reservation.month}/#{@reservation.day} #{@reservation.start_time}" %> ~ <%= @reservation.end_time %></p>
    </div>
    <div class="common_list_part common_size16">
      <p>予約者</p>
      <p><%= @reservation.user.name %></p>
    </div>
    <div class="common_list_part common_size16">
      <p>講師</p>
      <p><%= @reservation.teacher %></p>
    </div>
  </div>
</div>

<div class="reservation_confirm_switch_btn">
  <% if session[:search_seminars_year].present? && session[:search_seminars_month].present? && session[:search_join_status].present? %>
    <%= link_to '戻る', reserved_list_reservations_path(search_year: session[:search_seminars_year], search_month: session[:search_seminars_month], join_status: session[:search_join_status]), class: 'common_btn_content' %>
  <% else %>
    <%= link_to '戻る', reserved_list_reservations_path, class: 'common_btn_content' %>
  <% end %>
  <%= form_with url: reservation_path(@reservation.reservation_id), method: :delete, class: 'common_btn_content' do |f|  %>
    <%= f.hidden_field :id, value: @reservation.reservation_id %>

    <%= f.submit 'キャンセルする', class: 'reservation_confirm_switch_btn_entry cancel' %>
  <% end %>
</div>
