<section class="profile">
  <div class="profile_self_image">
    <%= image_tag 'self_image.webp', alt: 'プロフィール写真' %>
  </div>
  <div class="profile_info">
    <div class="profile_info_details">
      <p class="common_size20">西野 倫也</p>
      <p class="common_size16">会員ID： 1</p>
    </div>
    <div class="profile_info_details">
      <div class="profile_grade">
        <i class="fa-solid fa-address-card"></i>
        <p class="emerald">エメラルドエグゼティブ</p>
      </div>
      <p class="common_size16">登録日時：2023/06/21</p>
    </div>
    <div class="sales_batch">
      <%= image_tag 'business.svg', alt: '営業する人のアイコン' %>
    </div>
  </div>
</section>
<a href="#" class="uranai_link">
  <div class="uranai">
    <div class="uranai_icon">
      <%= image_tag 'cil_badge.svg', alt: '占いのアイコン' %>
    </div>
    <p class="common_size16">今日の占い</p>
  </div>
</a>
<section class="menu_list">
  <%= link_to reservations_path do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'seminer.svg', alt: 'セミナーのアイコン' %>
      </div>
      <p class="common_size16">セミナー予約</p>
    </div>
  <% end %>
  <%= link_to '#' do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'organization.svg', alt: '組織図のアイコン' %>
      </div>
      <p class="common_size16">組織図</p>
    </div>
  <% end %>
  <%= link_to events_path do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'event.svg', alt: 'イベント・お知らせ情報のアイコン' %>
      </div>
      <p class="common_size16">イベント・お知らせ情報</p>
    </div>
  <% end %>
  <%= link_to connect_services_path do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'connect_service.svg', alt: '連携先のアイコン' %>
      </div>
      <p class="common_size16">連携先</p>
    </div>
  <% end %>
  <%= link_to '#' do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'bonus.svg', alt: 'ボーナス情報のアイコン' %>
      </div>
      <p class="common_size16">ボーナス情報</p>
    </div>
  <% end %>
  <%= link_to titles_path do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'title.svg', alt: 'タイトルのアイコン' %>
      </div>
      <p class="common_size16">タイトル</p>
    </div>
  <% end %>
  <%= link_to learns_path do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'study.svg', alt: '学びの資料のアイコン' %>
      </div>
      <p class="common_size16">学びの資料</p>
    </div>
  <% end %>
  <%= link_to introducers_path do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'introducer.svg', alt: '紹介者一覧のアイコン' %>
      </div>
      <p class="common_size16">紹介者一覧</p>
    </div>
  <% end %>
  <%= link_to user_path(current_user) do %>
    <div class="menu_part common_btn_shape">
      <div class="menu_icon">
        <%= image_tag 'registration_information.svg', alt: '会員登録情報のアイコン' %>
      </div>
      <p class="common_size16">会員登録情報</p>
    </div>
  <% end %>
  <% if current_user.admin_flg == 1 %>
    <%= link_to approvals_path(type: "new") do %>
      <div class="menu_part common_btn_shape">
        <div class="menu_icon">
          <%= image_tag 'check.svg', alt: '会員登録情報のアイコン' %>
        </div>
        <p class="common_size16">承認画面</p>
      </div>
    <% end %>
  <% end %>
</section>
