<% if !get_current_path.include?("tmp_member_infos") && !get_current_path.include?("login") %>
  <header>
    <div class="header">
      <div class="header_left">
        <%= link_to image_tag('logo.png', alt: 'ロゴ写真'), root_path %>
      </div>
      <div class="header_right">
        <ul>
          <li><%= link_to 'セミナー予約', reservations_path %></li>
          <li><%= link_to '組織表', organizations_path %></li>
          <li><%= link_to 'イベント情報', events_path %></li>
          <li><%= link_to '提携先', connect_services_path %></li>
          <% if current_user&.admin_flg == 1 %>
            <li><%= link_to 'ボーナス情報', user_list_rewards_path %></li>
          <% else %>
            <li><%= link_to 'ボーナス情報', rewards_path(id: current_user&.id) %></li>
          <% end %>
          <% if current_user&.admin_flg != 1 %>
            <li><%= link_to 'タイトル', titles_path %></li>
          <% end %>
          <li><%= link_to '紹介者一覧', introducers_path %></li>
          <li><%= link_to '登録情報', user_path(current_user) %></li>
          <% if current_user&.admin_flg == 1 %>
            <li><%= link_to "管理者画面", admin_path %></li>
          <% end %>
          <% if logged_in? %>
            <li><%= link_to "ログアウト", logout_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="header_right_mobile">
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul id="mobile-nav">
          <li>
            <%= link_to 'セミナー予約', reservations_path %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to 'メンバー予約一覧', member_reservation_list_reservation_path(current_user) %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <% if current_user&.admin_flg == 1 %>
              <%= link_to 'ボーナス情報', user_list_rewards_path %>
            <% else %>
              <%= link_to 'ボーナス情報', rewards_path(id: current_user&.id) %>
            <% end %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <% if current_user&.admin_flg != 1 %>
            <li>
              <%= link_to 'タイトル', titles_path %>
              <div>
                <%= image_tag 'hamburger_arrow.svg' %>
              </div>
            </li>
          <% end %>

          <li>
            <%= link_to '紹介者一覧', introducers_path %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '組織表', organizations_path %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '提携先', connect_services_path %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '会員登録情報', user_path(current_user) %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to 'イベント・お知らせ情報', events_path %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '会員登録QRコード', get_entry_url_path %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <% if current_user&.admin_flg == 1 %>
            <li>
              <%= link_to 'ボーナス支払い', bonus_pay_list_rewards_path %>
              <div>
                <%= image_tag 'hamburger_arrow.svg' %>
              </div>
            </li>

            <li>
              <%= link_to '承認画面', approvals_path(type: "new") %>
              <div>
                <%= image_tag 'hamburger_arrow.svg' %>
              </div>
            </li>
          <% end %>

          <li>
            <%= link_to '確認テスト','https://learningbox.online/', target: "_blank"%>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '新規MT', learn_list_learns_path(type: "新規MT") %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '株式取引の学び', learn_list_learns_path(type: "株式取引の学び") %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '保険の学び', learn_list_learns_path(type: "保険の学び") %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '不動産の学び', learn_list_learns_path(type: "不動産の学び") %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to 'NISAの学び', learn_list_learns_path(type: "NISAの学び") %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to '為替取引', learn_list_learns_path(type: "為替取引") %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <li>
            <%= link_to 'その他の学びの資料', learns_path %>
            <div>
              <%= image_tag 'hamburger_arrow.svg' %>
            </div>
          </li>

          <% if current_user&.admin_flg == 1 %>
            <li>
              <%= link_to '管理者画面', admin_path %>
              <div>
                <%= image_tag 'hamburger_arrow.svg' %>
              </div>
            </li>
          <% end %>

          <% if logged_in? %>
            <li><%= link_to "ログアウト", logout_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
<% end %>