<!DOCTYPE html>
<html>
  <head>
    <title>ShineStnApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>    <%= include_gon %>
  </head>

  <body>
    <% if request.fullpath.include?('bonus_pay_bat') %>
      <%= yield %>
    <% else%>
      <% if get_current_path.include?("login") %>
        <%= yield %>
      <% else %>
        <%= render 'layouts/header' %>
        <main>
          <div class="container">
            <%= yield %>
          </div>
        </main>
        <%= render 'layouts/footer' %>
      <% end %>
    <% end %>
  </body>
</html>
